body {
    background: url("../img/background-mine.jpg");
    background-size: cover;
    text-align: center;
    font-family: "Brush Script MT", "Lucida Handwriting", Cursive;
    color: white;
}

.game-div {
    height: 700px;
    width: 600px;
    background-image: linear-gradient(to top, #1b0802, #1b08028f);
    margin: auto;
    border-radius: 30px;
    box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 5px 15px 18px 12px rgba(71, 24, 0, 0.74);
}

.board-div {
    height: 500px;
    width: 500px;
    background-color: rgba(19, 19, 77, 0.493);
    margin: auto;
    position: relative;
    top: 10px;
}

table {
    border: 2px solid #1b0802;
    height: 500px;
    width: 500px;
    box-shadow: 0px 10px 13px -7px #000000, 5px 15px 12px 12px rgba(71, 24, 0, 0);
}

td {
    border: 1px solid #1b0802;
    width: 30px;
    height: 30px;
    font-size: large;
}

img {
    height: 70%;
    width: auto;
}

.hidden {
    background-color: rgba(4, 4, 39, 0.726);
}

.hidden:hover {
    background-color: rgba(1, 1, 17, 0.897);
}

.timer {
    background-image: linear-gradient(to top, #555555, #55555570, #55555500);
    height: 60px;
    width: 150px;
    position: relative;
    right: 75px;
    line-height: 60px;
    border-radius: 8px;
    color: rgb(255, 255, 255);
    display: inline-block;
    box-shadow: 0px 10px 13px -7px #000000, 5px 15px 12px 12px rgba(71, 24, 0, 0);
}

.lives {
    background-image: linear-gradient(to top, #555555, #55555570, #55555500);
    height: 60px;
    width: 150px;
    position: relative;
    left: 150px;
    line-height: 60px;
    border-radius: 8px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    display: inline-block;
    box-shadow: 0px 10px 13px -7px #000000, 5px 15px 12px 12px rgba(71, 24, 0, 0);
}

.emoji {
    height: 70px;
    width: 70px;
    display: inline-block;
    position: relative;
    top: 20px;
    right: 155px;
}

button {
    border: none;
    border-radius: 2px;
    background-color: #1b0802;
    color: white;
    cursor: pointer;
    margin-left: 2px;
    height: 20px;
}

.hints {
    height: 50px;
    width: 180px;
    margin-top: 15px;
    margin-left: 15px;
    border-radius: 20px;
    border: 2px solid #130501;
    line-height: 50px;
}

.safe-clicks {
    height: 50px;
    width: 180px;
    border-radius: 20px;
    border: 2px solid #130501;
    line-height: 50px;
    position: relative;
    left: 210px;
    bottom: 53px;
    cursor: pointer;
}

.manually-mines {
    height: 50px;
    width: 180px;
    border-radius: 20px;
    border: 2px solid #130501;
    line-height: 50px;
    position: relative;
    left: 407px;
    bottom: 107px;
    cursor: pointer;
}

.boom {
    height: 50px;
    width: 180px;
    border-radius: 20px;
    background-image: linear-gradient(to top, #2e0f07, #3a160ccb);
    border: 2px solid #130501;
    line-height: 50px;
    cursor: pointer;
    transform: rotate(270deg);
    position: absolute;
    left: 418px;
    top: 300px;
    letter-spacing: 2px;
}

.locating {
    background-color: #a7432d50;
}

h3 {
    margin-top: 5px;
    display: inline-block;
}

h4 {
    display: inline;
}

.hints img {
    height: 60%;
    width: auto;
    margin-top: 10px;
}

.hinted {
    border-radius: 15px;
    border: 1px solid white;
}

.game-over {
    position: absolute;
    width: 300px;
    height: 150px;
    border-radius: 20px;
    border: 1px solid rgba(17, 17, 17, 0.863);
    padding: 2px;
    right: 41%;
    top: 40%;
    color: #ffffff;
    display: grid;
    place-content: center;
    display: none;
}

.lose {
    background: url("../img/game-over.jpg");
    background-size: cover;
}

.win {
    background: url("../img/win.jpg");
    background-size: cover;
}

.animation {
    display: block;
    animation: myAnim 1s ease 0s 1 normal forwards;
}

.animation-hide {
    animation: myAnimRev 1s ease 1s 1 reverse forwards;
    display: block;
}

.safe {
    background-color: rgba(1, 1, 17, 0.897);
    animation: safeCell 2s ease 0s 2 normal forwards;
}

.footer {
    background-image: linear-gradient(to top, #1b0802, #1b08028f);
    height: 30px;
    line-height: 30px;
    margin-top: 12px;
    box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 5px 15px 18px 12px rgba(71, 24, 0, 0.74);
}

@keyframes myAnim {
    0% {
        display: none;
        visibility: hidden;
        opacity: 0;
        transform: translateX(-250px) rotate(-200deg);
    }
    100% {
        opacity: 1;
        transform: translateX(0) rotate(0deg);
    }
}

@keyframes myAnimRev {
    0% {
        display: none;
        visibility: hidden;
        opacity: 0;
        transform: translateX(-250px) rotate(-200deg);
    }
    100% {
        opacity: 1;
        transform: translateX(0) rotate(0deg);
    }
}

@keyframes safeCell {
    0%,
    50%,
    100% {
        opacity: 1;
    }
    25%,
    75% {
        opacity: 0;
    }
}